.content {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.row {
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
}

.cell{
    border: 1px solid black;
    min-width: 200px;
    min-height: 200px;
    width: fit-content;
    height: fit-content;
    padding: 50px;
    font-size: 100px;
    font-weight: 500;
    line-height: 0px;
}

.x-cell {
    background-color: red;
    color: white;
}

.o-cell {
    background-color: blue;
    color: white;
}

.button-container {
    margin: 10px;
}

.button {
    padding: 30px;
    font-size: large;
}

#game-board {
    margin-top: 25px;
}

.hidden {
    display: none;
}

.win-state {
    opacity: 0.3;
}